<q-card>
  <q-card-section>
    <p><b>Decoder Extension</b><br /></p>
    <p>
      Decoder is a simple BOLT11, LNURL, and Lightning Address decoder for
      Lightning. Paste in your invoice or LNURL to decode. Useful for testing
      and debugging while developing applications on the lightning network.
    </p>
    <small
      >Created by
      <a
        class="text-secondary"
        href="https://github.com/bitkarrot/decoder"
        target="_blank"
        >Bitkarrot</a
      >
    </small>
  </q-card-section>
</q-card>
